@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

@font-face {
  font-family: "GangwonEduPowerExtraBoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "WONDER SEASON Regular";
  font-style: normal;
  font-weight: normal;
  src: local("WONDER SEASON Regular"), url("WONDER SEASON.woff") format("woff");
}

body {
  background-color: #101010;
  height: 2900px;
  transition: 0.3s;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 2vw;
  font-family: "Pretendard";
  font-weight: 200;
  color: rgb(159, 159, 159);
  text-align: center;
  transition: 2s;
  margin: 17.7vw 0 0 0;
}
#maintext {
  font-family: "GangwonEduPowerExtraBoldA";
  font-size: 9vw;
  border-bottom: 1px solid #d3fa09;
  color: white;
  position: relative;
  left: 0;
  transition: left 0.5s ease-out;
}

#maintext2 {
  font-family: "GangwonEduPowerExtraBoldA";
  font-size: 9vw;
  border-bottom: 1px solid #d3fa09;
  color: white;
  position: relative;
  right: 0;
  transition: left 0.5s ease-out;
}
h3 {
  margin-left: 4vw;
  justify-content: center;
  font-size: 4.6vw;
  /* font-family: 'Pretendard'; */
  color: #101010;
  text-align: left;
  border-bottom: 1px solid #101010;
  font-family: "GangwonEduPowerExtraBoldA";
}
header {
  display: none;
  z-index: 1;
  top: 2.2vw;
  position: fixed;
  width: 46%;
  border: 1px solid rgba(211, 250, 9, 0.3);
  border-radius: 100px;
  height: 4vw;
  background-color: #d3fa09;
  text-align: center;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
#headerButton {
  z-index: 1;
  width: 4vw;
  height: 4vw;
  border-radius: 100px;
  margin-top: 2.2vw;
  position: fixed;
  background-color: #d3fa09;
  right: 6vw;
}

.ulcolor {
  /* color: #D3FA09; */
  justify-content: center;
  font-size: 1.3vw;
  font-family: "Pretendard";
  font-weight: 400;
  list-style: none;
  display: flex;
  margin: 1.3vw 0 0 5vw;
  text-align: center;
}
.ulcolor li {
  margin-right: 100px;
  display: inline;
}
.main {
  height: 100vh;
  border: 1px solid rgba(10, 10, 10, 0);
}
.introduction {
  position: relative;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100vh;
  margin-bottom: 10vw;
}
.me01 {
  margin: -2vw 0 0 7vw;
  width: 14vw;
}

.keywords {
  margin-left: 7vw;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.keyword2 {
  /* border: 10px solid red; */
  margin: 17vw 2.2vw 0 0;
  width: 15vw;
  height: 3.6vw;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  border-radius: 100px;
  font-size: 1.3vw;
  font-family: "Pretendard";
  font-weight: 400;
  background-color: #101010;
}
.skill {
  padding-bottom: 20vw;
  padding-top: 14vw;
  color: #101010;
  font-size: 4.8vw;
  font-family: "GangwonEduPowerExtraBoldA";
  text-align: center;
  /* border: 1px solid rgb(10, 10, 10); */
  background: linear-gradient(to bottom, #f2f2f2 0%, #d3fa09 100%);
}
.skilltext {
  text-align: center;
  font-size: 1.2vw;
  font-family: "Pretendard";
  font-weight: 300;
  line-height: 2.4vw;
  color: #4a4a4a;
  padding: 2vw;
  margin-left: auto; /* 좌우 가운데 정렬을 위해 추가 */
  margin-right: auto; /* 좌우 가운데 정렬을 위해 추가 */
  width: 90%;
}
.work {
  margin-bottom: 100vh;
  background: linear-gradient(
    to bottom,
    rgba(211, 250, 9, 1),
    rgba(242, 242, 242, 0)
  );
}
.work-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: visible;
  transition: all 0.5s ease-in-out;
  height: 50vw;
  font-size: 4.8vw;
  font-family: "GangwonEduPowerExtraBoldA";
  text-align: center;
  color: white;
  background-color: #101010;
  border-radius: 3vw;
  padding-top: 8vw;
  padding-bottom: 10vw;
}
.gaji {
  bottom: 0;
}
.me02 {
  display: block;
  justify-content: center;
  align-items: center;
  margin: -4vw auto 0;
  width: 14vw;
}

.box1 {
  flex: 1;
  height: 3.6vw;
  background-color: #101010;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2vw;
}

.skilllist {
  display: flex;
  justify-content: center;
}

.skill ul {
  margin-top: 4vw;
  /* margin-bottom: 1vw; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  /* border: 1px solid red; */
  width: 60%;
}

.skill ul li {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.3vw;
  font-family: "Pretendard";
  font-weight: 300;
  color: white;
}
.opbox {
  margin-top: 2vw;
  margin-left: 14vw;
  height: 23vw;
  border-radius: 2vw;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  background-color: rgb(255, 255, 255, 0.3);
  border: 1px solid rgb(255, 255, 255, 0.7);
}
.opbox2 {
  /* position: relative; */
  cursor: url("./img/cursor.png"), auto;
  margin-top: 3vw;
  height: 60vh;
  background-color: #f2f2f2;
  border-radius: 2vw;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

h4 {
  font-size: 16vw;
  font-weight: 200;
  font-family: "GangwonEduPowerExtraBoldA";
  color: #101010;
  text-align: center;
  line-height: 17vw;
  padding-top: 4vw;
}
h5 {
  text-align: center;
  font-size: 1.2vw;
  font-family: "Pretendard";
  font-weight: 400;
  color: rgb(185, 185, 185);
}
h6 {
  width: 100%;
  position: absolute;
  text-align: center;
  margin-top: 26vw;
  font-size: 2vw;
  font-family: "Pretendard";
  line-height: 3vw;
  font-weight: 300;
  color: rgb(185, 185, 185);
  /* border: 1px solid red; */
}
#h6black {
  color: #101010;
  font-weight: 300;
}
#black {
  color: #101010;
  font-size: 1.4vw;
}
.introduction > h3,
.introduction > p {
  position: relative;
}

.on {
  animation: cliptext 0.8s ease-out;
}

@keyframes cliptext {
  0% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    transform: translateY(100%);
  }
  95% {
    transform: translateY(0%);
  }
  100% {
    clip-path: polygon(0% 00%, 100% 0%, 100% 100%, 0% 100%);
  }
}

.line {
  width: 90%;
  border: solid 1px black;
  text-align: center;
}

.line2 {
  margin: auto;
  width: 90%;
  border: solid 1px rgb(220, 220, 220);
  text-align: center;
}
.common {
  width: 2vw;
  height: 0.2vw;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
  border-radius: 10px;
  background-color: #101010;
  margin-left: 0.9vw;
}

.menu {
  background-color: #101010;
  margin-left: 0.9vw;
}

.top {
  position: relative;
  width: 2vw;
  height: 0.2vw;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
  margin-left: 0.01vw;
}

.top:nth-child(1) {
  transform: rotate(45deg);
  position: absolute;
  width: 1.6vw;
  top: 26%;
  left: 43%;
}

.top:nth-child(2) {
  transform: rotate(90deg);
  position: absolute;
  top: 36%;
  left: 25%;
}

.top:nth-child(3) {
  transform: rotate(-45deg);
  position: absolute;
  width: 1.6vw;
  top: 26%;
  left: 17%;
}

.contect {
  z-index: -1;
  flex-direction: column;
  position: fixed;
  background-color: #f2f2f2;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}
.gaji {
  bottom: 0;
}
a {
  font-size: 1.3vw;
  font-family: "Pretendard";
  font-weight: 400;
  display: block;
  position: relative;
  width: 16vw;
  height: 3.6vw;
  justify-items: center;
  text-align: center;
  text-decoration: none;
  color: inherit;
  overflow: hidden;
  background-color: rgb(227, 227, 227);
  border: 1px solid rgb(166, 166, 166);
  z-index: 1; /* 추가 */
  transition: color 0.5s ease;
  line-height: 3.6vw;
}
a:hover {
  color: #d3fa09;
}

a.btn2 {
  overflow: hidden;
  margin: 8vw;
  border-radius: 100px;
}

a.btn2 span {
  width: 20px;
  height: 20px;
  background: #101010;
  display: none;
  position: absolute;
  border-radius: 50%;
  z-index: -1; /* 추가 */
}

a.btn2 span.btn2Ani {
  animation: btn2Ani 0.2s linear 1;
  transform: scale(30, 30);
}

@keyframes btn2Ani {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(30, 30);
  }
}

a.btn3 {
  overflow: hidden;
  margin: 8vw;
  border-radius: 100px;
}
a.btn3 span {
  z-index: -1;
  width: 20px;
  height: 20px;
  background: #101010;
  display: none;
  position: absolute;
  border-radius: 50%;
}
a.btn3 span.btn3Ani {
  animation: btn3Ani 0.3s linear 1;
  transform: scale(30, 30);
}
@keyframes btn3Ani {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(30, 30);
  }
}
a.btn4 {
  overflow: hidden;
  margin: 8vw;
  border-radius: 100px;
}
a.btn4 span {
  z-index: -1;
  width: 20px;
  height: 20px;
  background: #101010;
  display: none;
  position: absolute;
  border-radius: 50%;
}
a.btn4 span.btn4Ani {
  animation: btn4Ani 0.3s linear 1;
  transform: scale(30, 30);
}
@keyframes btn4Ani {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(30, 30);
  }
}
.flexbtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.h5flex {
  display: flex;
  width: 90%;
  margin-bottom: 3vw;
  justify-content: space-between;
}
.slide {
  margin-top: 2vw;
  font-size: 3vw;
  font-family: "Pretendard";
  font-weight: 300;
  cursor: url("./img/cursor.png"), auto;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  position: relative;
  width: 100%;
  user-select: none;
}
.slide_item {
  font-family: "Pretendard";
  font-weight: 600;
  font-size: 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 0px;
  width: 100%;
  height: 30vw;
  flex-shrink: 0;
  transition: left 0.15s;
}

.slide_button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(50% - 16px);
  width: 5vw;
  border-radius: 100%;
  cursor: pointer;
}

.slide_prev_button {
  left: 2vw;
}
.slide_next_button {
  right: 2vw;
}

.slide_item:nth-child(1) {
  background-color: #101010;
  background-image: url("./img/03.png");
  background-size: 100%;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0.6;
  background-position: center;
}

.slide_item:nth-child(1):hover {
  background-size: 104%;
  opacity: 1;
}

.slide_item:nth-child(2) {
  background-color: #101010;
  background-image: url("./img/04.png");
  background-size: 100%;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0.6;
  background-position: center;
}

.slide_item:nth-child(2):hover {
  background-size: 104%;
  opacity: 1;
}
.slide_item:nth-child(3) {
  background-color: #101010;
  background-image: url("./img/02.png");
  background-size: 100%;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0.6;
  background-position: center;
}

.slide_item:nth-child(3):hover {
  background-size: 104%;
  opacity: 1;
}
.slide_item:nth-child(4) {
  background-color: #101010;
  background-image: url("./img/01.png");
  background-size: 100%;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0.6;
  background-position: center;
}

.slide_item:nth-child(4):hover {
  background-size: 104%;
  opacity: 1;
}

/* 페이지네이션 스타일 */
ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.slide_pagination {
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.slide_pagination > li {
  color: #ffffff45;
  cursor: pointer;
  font-size: 2.4vw;
}
.slide_pagination > li.active {
  color: #ffffff;
}
.protext {
  font-size: 1.6vw;
  font-family: "Pretendard";
  font-weight: 400;
  text-align: center;
  position: absolute;
  margin-top: -12vw;
  border-bottom: 1px solid white;
  /* border: 1px solid red; */
}
.protext2 {
  font-size: 1.3vw;
  font-family: "Pretendard";
  font-weight: 400;
  line-height: 3vw;
  text-align: center;
  position: absolute;
  margin-top: 12vw;
  opacity: 0.3;
}
